<div class="w-full min-h-screen flex items-center justify-center">
  <div class="text-center">
    <h2 class="font-serif text-gray-100 text-xl -mt-3">A non-copyright-infriging project by CanadyTech</h1>
    <h1 class="title m-0 p-0">Jeoparody</h1>

    <button phx-click="start_new_game"
            class="mt-2 bg-orange-500 hover:bg-orange-400 text-white text-2xl font-bold py-2 px-4 border-b-4 border-orange-700 hover:border-orange-500 rounded">
      Start Game
    </button>
  </div>
</div>
